<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="WixCalculator" Language="1033" Version="1.0.0.0" Manufacturer="Linh Dan Nguyen" UpgradeCode="dc4439a2-6baf-41e0-97b0-3843eead5713">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="WixCalculator" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DeploymentPorfolio1Credit" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="WixCalculator.exe" Guid="8DF6E3C0-6698-41E3-A7B9-474F37B7F5B8" >
        <File Id="WixCalculator.exe" Name="WixCalculator.exe" Source="$(var.DeploymentPorfolio1Credit.TargetDir)DeploymentPorfolio1Credit.exe"></File>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
